<div class="col-md-6 offset-md-3 mt-5">
  <h4>Account</h4>
  <hr />

  <div class="">
    <span class="p-5">
      <%= render 'personal_information' %>
    </span>
    <hr />

    <span class="p-5">
      <%= render 'ynab_connection' %>
    </span>
    <hr />

    <% if current_user.ynab_connected? %>
      <span class="p-5">
        <%= render 'graph_settings' %>
      </span>
      <hr />

      <span class="p-5">
        <span id="budgets-list"><%= render 'budgets' %></span>
      </span>
      <hr />

      <span class="p-5">
        <%= render 'friend_requests' %>
      </span>
      <hr />
    <% end %>

    <span class="p-5">
      <%= render 'delete_account' %>
    </span>
  </div>
</div>

