<div class="text-center">
  <div class="col-md-4 offset-md-4 mt-4">
    <%= render 'shared/flash_messages' %>
  </div>

  <h1>Dashboard</h1>

  <% unless current_user.ynab_connected? %>
    <%= link_to 'Connect YNAB', ynab_oauth_url, class: 'btn btn-info' %>
  <% else %>
    <%= link_to 'Refresh', import_path, method: :post %>
  <% end %>

  <% current_user.budgets.each do |budget| %>
    <h1>Budget</h1>
    <p><%= budget.name %></p>

    <h1>Category Groups</h1>
    <% budget.category_groups.each do |category_group| %>
      <p><%= category_group.name %></p>

      <h1>Categories</h1>
      <% category_group.categories.each do |category| %>
        <p><%= category.name %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
