<div class="text-center">
  <div class="col-md-4 offset-md-4 mt-4">
    <%= render 'shared/flash_messages' %>
  </div>

  <h1>
    <%= current_date %>
  </h1>

  <% if current_user.ynab_connected? %>
    <div class="d-flex justify-content-around m-5">
      <%= render partial: 'card', locals: { title: current_user.budgets.count, subtitle: 'Budgets' } %>
      <%= render partial: 'card', locals: { title: current_user.accounts.count, subtitle: 'Accounts' } %>
      <%= render partial: 'card', locals: { title: current_user.accounts.count, subtitle: 'Accounts' } %>
      <%= render partial: 'card', locals: { title: current_user.accounts.count, subtitle: 'Accounts' } %>
      <%# <%= render partial: 'card', locals: { title: current_user.budgets.accounts.count } %>
    </div>
  <% end %>
</div>
