<div class="text-center">
  <div class="col-md-4 offset-md-4 mt-4">
    <%= render 'shared/flash_messages' %>
  </div>

  <div class="border-bottom pb-5 mx-4">
    <div class="d-flex flex-wrap justify-content-between">
      <span class="h1"><%= current_date %></span>

      <% if current_user.budgets.any? %>
        <%= render 'filter_form' %>
      <% end %>
    </div>

    <%= render 'friends_nav' %>
  </div>

  <% if current_user.ynab_connected? %>
    <div class="my-5">
      <div class="d-flex flex-wrap justify-content-center mt-4">
        <%= render 'cards' %>
      </div>

      <div class="my-5 mx-5">
        <%= render 'graphs' %>
      </div>
    </div>
  <% else %>
    <div class="col-md-4 offset-md-4 mt-4  text-left">
      <div class="text-center mb-4">
        <%= link_to 'Connect YNAB', ynab_oauth_url, class: 'btn btn-info mr-2' %>
      </div>
      <%= render 'shared/ynab_not_connected' %>
    </div>
  <% end %>
</div>
